h1 {
    margin-bottom: 1px;
}

canvas {
    height: 0px;
    width: 0px;
}

#video_box{
    position: relative;
}

#video_overlays .overlay {
    position: absolute;
    width: 330px;
    height: 330px;
    z-index: 300000;
    bottom: 15px;
    left: 75px;
    text-align: center;
}

.row{

}

.column{
    width: 500px;
    display: inline-block;
    text-align: center;
}
