<html>
    <head>
        <title>CV Cube Solver</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='twistysim.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.redirect.js') }}"></script>

        <script>
            $(document).ready(function(){
                const faces = ["green", "orange", "blue", "red", "yellow", "white"];
                var i = 0;
                var images = [];

                // when video is clicked
                $("#video_box").click(function(){

                    // capture image
                    const canvas = window.canvas = document.querySelector("#canvas");
                    canvas.style.display="none";
                    canvas.width = 240;
                    canvas.height = 180;
                    canvas.getContext('2d').drawImage(video, 0, 0, 240, 180);

                    // convert to base 64
                    images[i] = canvas.toDataURL("image/png");

                    // increment
                    i += 1;
                    cube.forward();

                    if (i < 6) {
                        $("#prompt").text("Click screen to capture face " + (i + 1) + " (" + faces[i] + ").");
                    } else {
                        $("#prompt").text("All faces captured!");
                        $("#submit").prop("disabled", false);
                    }
                });

                // submit all faces via POST request and redirect
                $("#submit").click(function(){
                    $.redirect("/solve", {"images": JSON.stringify(images)});
                });

            });
        </script>
    </head>


    <body>
        <p>
            <h1>CV Cube Solver</h1>
            <a href="truo.ng">by Raymond Truong</a>
            <br><br>
        </p>


        <div class="row">
            <div class="column">
                <div id="video_box">
                    <div id="video_overlays">
                        <img src="{{ url_for('static', filename='grid.png') }}" class="overlay"/>
                    </div>
                    <div>
                        <video playsinline autoplay width="480" height="360" id="video"></video>
                    </div>
                </div>
            </div>

            <div class="column">
                <div id="tp1"></div>
                <script>
                    // generate cube
                    var cube = TTk.AlgorithmPuzzle(3)
                        .size({width:300, height:300})
                        .rotate(false);

                    cube.controls(false)
                        .showAlg(false)
                        .hoverButtons(true)
                        .hoverAlg(false);

                    // initial state
                    cube.fc('ddddoddddddddbddddddddyddddddddrddddddddgddddddddwdddd')
                    cube.case("y y y x x2");

                    // render into div
                    cube("#tp1");
                </script>
            </div>

            <div class="column">
                <canvas id="canvas"></canvas>
            </div>
        </div>


        <p><br>Hold the cube as demonstrated, and position each square inside the grid.<p>
        <p id="prompt">Click screen to capture face 1 (green).</p>
        <button id="submit" disabled>Submit</button>
        <br>

        <script>
            // access user webcam
            const video = document.querySelector('video');

            function handleSuccess(stream) {
              window.stream = stream;
              video.srcObject = stream;
            }

            function handleError(error) {
              console.log('navigator.getUserMedia error: ', error);
            }

            navigator.mediaDevices.getUserMedia({ video: true }).then(handleSuccess).catch(handleError);

        </script>
        <br>
    </body>
</html>
