<html>
    <head>
        <title>{{ test }} - CV Cube Solver</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>CV Cube Solver</h1>
        <ul>
            {% for face in range(6) %}
            <li>
                <ul>
                    {% for row in range(3) %}
                    <li>
                        <img src="{{ squares[face][row][0] }}" />
                        <img src="{{ squares[face][row][1] }}" />
                        <img src="{{ squares[face][row][2] }}" />
                    </li>
                    {% endfor %}

                </ul>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
